body {
    background-color: #1a1a1a;
    color: white;
}

#logo {
    width: 100px;
}

header {
    padding: 20px;
}

.card {
    margin: 10px 0;
}

.alert {
    padding: 15px;
    border-radius: 5px;
}

#forecast .forecast-day {
    text-align: center;
    width: 18%;
}

footer {
    margin-top: 50px;
}
